<div class="row p-5">
    <div class="col-12 pb-2">
        <h1>Mis Proyectos realizados</h1>
        <div *ngIf="isLogged">
            <button class="btn btn-outline-dark" (click)="proyecModal.showModal()">Agregar Proyecto Nuevo</button>
            <app-modal-proyectos (actualizar)="loadProyectos()" #proyecModal></app-modal-proyectos>
        </div>
    </div>
    <div class="col-xs-12">
        <div *ngFor="let proyecto of proyectos">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-end">
                <fa-icon *ngIf="isLogged" (click)="proyectoEditmodal.showModal()" class="btn m-1 btn-primary"
                    [icon]="faEdit"></fa-icon>
                <fa-icon *ngIf="isLogged" (click)="delete(proyecto.id)" class="btn m-1 btn-danger" [icon]="faTrash">
                </fa-icon>
            </div>
            <div>
                <h3>{{ proyecto.title }}</h3>
                <span>{{ proyecto.dateFrom }}</span>
                <p><a [href]="proyecto.url">{{ proyecto.url }}</a></p>
                <p>{{ proyecto.description }}</p>
                <div class="text-center">
                    <img class="img-fluid shadow" [src]="proyecto.image" alt="">
                </div>
            </div>
            <div class="m-2">

                <app-modal-proyectos [proyecto]="proyecto" #proyectoEditmodal></app-modal-proyectos>
            </div>
        </div>
    </div>
</div>